*{
    margin: 0;
}
body{
    background: rgb(241, 245, 245);
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100vw;
       height: 100vh;
     
}
.frame{
    display: flex;
       justify-content: center;
       align-items: center;
   width:90%;
   height: 60%;

border-radius: 10px;
   flex-wrap:wrap ;
}
.box{
    margin: 0;
    display: flex;
     
       flex-wrap: wrap;

    width:50%;
    height: 50%;
 
 
}

.bo{
border: 1px solid black;
}
.circle{
background: #f5f0f0;
height:41.6px ;
width:41.6px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;


position: relative;


}
.inner{
display: flex;
justify-content: center;
align-items: center;
height: 90%;
width: 90%;
border-radius: 50%;
box-shadow: 10px 10px 17px #d4d6d9 inset,
-10px 10px 17px #FFFFFF inset;
position: relative;


}
.one{
    width:50%;
    height: 2px;

border-radius: 55px;

    position: absolute;
    top:50%;
left: 50%;
   transform-origin: left;


 z-index: 1;

}
.two{
border-radius: 55px;
    width:50%;
    height: 2px;
 
    position: absolute;
    top:50%;
   left:50%;
              transform-origin: left;
             

   z-index: 1;

}
 span{
    animation-delay:4s ;
    animation: ro1 5s;
    transition: 2.7s ease;
    background:black;
}
@keyframes ro{
to{
transform: rotateZ(360deg);

}
}
@keyframes ro{
to{
transform: rotate(360deg);

}
}
button{
    margin-top: 30px;
}
@media screen and (max-width:1000px)

{
    .frame{ 
       width:45%;
       height: 70%;
  
    }
    .circle{
    
        height:53.6px ;
        width:53.6px;
   
        
        
        }
}
@media screen and (max-width:950px)

{
    .frame{ 
       width:42%;
       height: 70%;
  
    }
    .circle{
    
        height:48.8px ;
        width:48.8px;
   
        
        
        }
}
@media screen and (max-width:929px)

{
    .frame{ 
       width:42%;
       height: 70%;
  
    }
    .circle{
    
        height:46.5px ;
        width:46.5px;
   
        
        
        }
}
@media screen and (max-width:887px)

{
    .frame{ 
       width:42%;
       height: 60%;
  
    }
    .circle{
    
        height:40.5px ;
        width:40.5px;
   
        
        
        }
}
@media screen and (max-width:772px)

{
    .frame{ 
       width:50%;
       height: 63%;
  
    }
    .circle{
    
        height:45.5px ;
        width:45.5px;
   
        
        
        }
}
@media screen and (max-width:732px)

{
    .frame{ 
       width:50%;
       height: 58%;
  
    }
    .circle{
    
        height:40.5px ;
        width:40.5px;
   
        
        
        }
}
@media screen and (max-width:647px)

{
    .frame{ 
       width:50%;
       height: 58%;
  
    }
    .circle{
    
        height:38px ;
        width:38px;
   
        
        
        }
}
@media screen and (max-width:608px)

{
    .frame{ 
       width:50%;
       height: 52%;
  
    }
    .circle{
    
        height:35.6px ;
        width:35.6px;
   
        
        
        }
}
@media screen and (max-width:569px)

{
    .frame{ 
       width:50%;
       height: 52%;
  
    }
    .circle{
    
        height:34.6px ;
        width:34.6px;
   
        
        
        }
}
@media screen and (max-width:554px)

{
    .frame{ 
       width:48%;
       height: 50%;
  
    }
    .circle{
    
        height:32.6px ;
        width:32.6px;
   
        
        
        }
}



